.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: left;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

/* .App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.title {
  font-family: 'Courier New';
  font-size: 66px;
  font-weight: 800;
  color: #1370ae;
}
.w50 {
  width: 50% !important;
  margin: 0;
}
.main {
  background-color: rgb(245, 242, 213);
}
.footer {
  background-color: lightpink;
}
.formnews {
  background-color: rgb(242, 230, 218);
}
.inputnews tr {
  margin: 5px;
}
.inputnewstitle {
  font-size: 20px;
  background-color: #f49c4a;
  padding-left: 10px;
}
#news-submit {
  float: left;
}
.newscontent {
  background-color: rgb(153, 233, 39);
}
.newscontent h4 {
  background-color: rgb(233, 225, 210);
}
.card {
  width: 600px;
  margin: 20px 20px;
  margin: 20px auto !important;
  background-color: white;
}
.grey {
  background-color: #c2e1ed;
}
.font {
  color: grey !important;
}
.mrglft {
  margin-left: 0 !important;
}
